<html>
    <head>
        {% include 'dashboard/includes/head.html' %}
    </head>
    <body>
        {% include 'dashboard/includes/sidebar.html' %}
        {% extends 'dashboard/includes/content.html' %}
        {% block text_content %}
            <p id='messages'></p>
            <lable for='old_password'>Old Password</lable>
            <p>{{form.old_password}}</p>
            <label for='password'>New Password</label>
            <p>{{form.password}}</p>
            <label for='password_confirmation'>
                Confirm Password
            </label>
            <p>{{form.password_confirmation}}</p>
            <p><button type='submit' class='btn btn-outline-dark' id='changepassword'>Gas kan</button></p>
        {% endblock %}
        {% include 'dashboard/includes/script.html' %}
        {% include 'extra/csrf.html' %}
    </body>
</html>