<html>
    <head>
        <title>Manager Quiz</title>
        {% include 'extra/head.html' %}
        <link rel='stylesheet' href='{{url_for("static", filename="css/dashboard.css")}}'>
    </head>
<body>
    {% include 'dashboard/includes/sidebar.html' %}
    {% extends 'dashboard/includes/content.html' %}
    {% block text_content %}
        <table class='table table-responsive' id='table-quiz'>
            <thead>
                <tr>
                    <th>Quiz Name</th>
                    <th>Link</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for quiz, id in data %}
                    <tr>
                        <td>{{quiz}}</td>
                        <td>{{url_for("quiz.quiz_homepage", code=id, _external=True)}}</td>
                        <td>
                            <a href='{{url_for("dashboard.edit_quiz", code=id)}}' class='table-link'>Edit</a>
                            <a href='{{url_for("dashboard.download_quiz", code=id)}}' class='table-link'>Download</a>
                            <a href='{{url_for("dashboard.delete_quiz", code=id)}}' class='text-danger'>Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
    {% include 'dashboard/includes/script.html' %}
</body>
</html>