<html>
    <head>
        <title>Quiz Web App</title>
        {% include 'extra/head.html' %}
    </head>
<body>
    {% include 'main/extra/navbar.html' %}
    {% extends 'main/extra/content.html' %}
    {% block content_page %}
        <div class='col-lg-6'>
            <h3 class='mb-3'>Search quiz : </h3>
            <input type='text' class='btn btn-outline-dark mr-2'><input type='submit' class='btn btn-outline-dark' value='Submit'>
        </div>
    {% endblock %}
    {% include 'extra/script.html' %}
</body>
</html>