.question-title {
  font-weight: 400;
}
.login-dark {
    height:1000px;
    background:#475d62;
    background-size:cover;
    position:relative;
  }
.radio_input {
  position: absolute;
  visibility: hidden;
  pointer-events: none
}
input[type='radio']:checked+span {
  background-color: burlywood;
}
.quiz_option {
  border-radius: 2px;
}
.login-dark form {
    max-width:320px;
    width:90%;
    background-color:#1e2833;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
  }
  
.login-dark .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color:#2980ef;
  }
  
.login-dark form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
  }
  
.login-dark form .btn-primary {
    background:#214a80;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
  }
  
.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background:#214a80;
    outline:none;
  }
  
.login-dark form .forgot {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
.login-dark form .forgot:hover, .login-dark form .forgot:active {
    opacity:1;
    text-decoration:none;
  }
  
.login-dark form .btn-primary:active {
    transform:translateY(1px);
  }
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-flex;
    vertical-align: top;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.navbar .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-weight: 200;
  color:black;
}
.hero-text {
  margin-top: 15px;
}
.hero {
  margin-top: 60px;
}
@media screen and (max-width: 600px) {
  .hero {
    margin-left: 22px;
  }
}
@media screen and (min-width: 800px ) {
  .navbar .navbar-nav .nav-item {
    margin-left: 10px;
  }
}
